doctype html
html
  head
    title= title
    link(
      rel='stylesheet', 
      href='/bootstrap/dist/css/bootstrap.css'
    )
    link(
      rel='stylesheet', 
      href='/stylesheets/style.css'
    )
    link(
      rel='stylesheet', 
      href='/stylesheets/common.css'
    )
    script( src = '/jquery/dist/jquery.min.js' )
    script( src = '/bootstrap/dist/js/bootstrap.js' )
    script( src = '/stats.js' )
    body(onload="iniciar(this)")
    block content
    script( src = '/common.js' )
    //script( src =  'v1straigth.js')
    //script( src =  'v2cuerves.js')
    script( src =  'v3hills.js')
    script( src =  'crono.js')
    
      

    
