doctype html
html
  head
    title= title
    link(
      rel='stylesheet', 
      href='/bootstrap/dist/css/yeti.css'
    )
    link(
      rel='stylesheet', 
      href='/stylesheets/style.css'
    )
    link(
      rel='stylesheet', 
      href='/stylesheets/common.css'
    )
    script( src = '/jquery/dist/jquery.min.js' )
    script( src = '/bootstrap/dist/js/bootstrap.js' )
    //script( src = '/background.js' )
    //script( src = '/sprites.js' )
    script( src = '/stats.js' )
    body
    block content
    script( src = '/common.js' )
    script( src =  'v2curves.js')

    
